services:
  fastapi:
    build: .
    ports:
      - "8006:8080"  # Internal port only
    environment:
      MONGO_USER: ${MONGO_USER}
      MONGO_PASSWORD: ${MONGO_PASSWORD}
      MONGO_HOST: ${MONGO_HOST}
      MONGO_PORT: ${MONGO_PORT}
    volumes:
      - .:/app
    command: >
      uvicorn api:app
      --host 0.0.0.0
      --port 8080
      --reload
    restart: unless-stopped
